---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Humburger from "../components/Humburger.astro";
import BaseLayout from "../layouts/BaseLayout.astro"
import Greeting from "../components/Greeting";
import '../styles/global.css';

const pageTitle = "Home Page"
---
<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
